<div class="toolbar">
    <div class="heading">{{heading}}</div>
    <div class="d-flex">
        <button type="button" ng-click="addRow()" class="btn btn-sm btn-outline-primary mr-2">
            Add +
        </button>
        <input type="text" class="form-control form-control-sm custom-input custom-input-search" placeholder="Search"
            ng-model="options.searchTerm">
    </div>
</div>
<div ng-class="options.classes.tableWrapper">
    <table class="" ng-class="options.classes.table">
        <thead>
            <tr>
                <th ng-repeat="item in options.columns" ng-class="{ 'text-right': item.type.inputType == 'number'}">
                    {{item.title}}</th>
                <th ng-hide="options.disableDelete"></th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-repeat="row in filteredData = ( data | smartSearch:options.searchTerm) | limitTo : options.pageLength : options.pageLength*(options.currentPage-1)">
                <td ng-repeat="cell in options.columns">

                    <!-- INPUT: ANY -->
                    <input ng-if="cell.type.name == 'input'" ng-class="{ 'text-right': cell.type.inputType == 'number'}"
                        ng-change="optionChanged(row[cell.data],'{{row[cell.data]}}', row, cell)"
                        placeholder="{{cell.type.placeHolder}}" title="{{cell.type.placeHolder}}"
                        maxlength="{{cell.type.maxlength}}" ng-required="cell.type.required"
                        ng-disabled="cell.type.disabled" type="{{cell.type.inputType}}" class="form-control"
                        ng-model="row[cell.data]">

                    <!-- SELECT -->
                    <select ng-required="cell.type.required"
                        ng-change="optionChanged(row[cell.data],'{{row[cell.data]}}', row, cell)"
                        ng-if="cell.type.name == 'select'" class="custom-select custom-select-md form-control"
                        ng-model="row[cell.data]" title="{{cell.type.placeHolder}}"
                        ng-options="item[cell.type.idProp] as item[cell.type.displayProp] for item in cell.type.data">
                        <option value="">{{cell.type.placeHolder}}</option>
                    </select>

                    <!-- DATE -->
                    <div ng-if="cell.type.name == 'date'" class="d-flex">
                        <input type="text" class="form-control" uib-datepicker-popup="MM-dd-yyyy"
                            ng-required="cell.type.required" ng-model="row[cell.data]" is-open="dateOpen" patter=""
                            placeholder="mm-dd-yyyy" pattern="\d{1,2}-\d{1,2}-\d{4}" title="mm-dd-yyyy"
                            datepicker-options="dateOptions" close-text="Close" ng-disabled="cell.type.disabled" />
                        <button type="button" class="btn" ng-click="dateOpen = !dateOpen" ng-hide="cell.type.disabled">
                            <i class="mdi mdi-calendar-plus"></i>
                        </button>
                    </div>
                </td>
                <td ng-hide="options.disableDelete">
                    <button type="button" class="btn" ng-class="options.closeButton.buttonClass" title="Remove row"
                        ng-click="removeRow($index)">
                        <i class="" ng-class="options.closeButton.iconClass"></i>
                        <span class="label">
                            {{options.closeButton.label}}
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-top mb-2">
        <div class="dataTables_info">
            Showing {{options.pageLength*(options.currentPage-1)+1}} to
            {{options.pageLength*(options.currentPage-1)+options.pageLength > filteredData.length ? filteredData.length : options.pageLength*(options.currentPage-1)+options.pageLength}}
            of {{filteredData.length}} entries <span ng-show="options.searchTerm">(filtered from
                {{data.length}} total
                entries)</span>
        </div>
        <ul uib-pagination total-items="filteredData.length"
            ng-model="options.currentPage" max-size="6" items-per-page="options.pageLength" class="mb-0"
            ng-class="options.classes.pagination" boundary-link-numbers="true" rotate="false">
        </ul>
    </div>
</div>