[editable-table] {
  .heading {
    font-weight: bold;
    font-size: 1.2rem !important;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .btn {
      white-space: nowrap;
    }
  }

  .dataTables_wrapper {
    > .row:nth-child(2) > div {
      overflow-x: auto;
    }

    .dataTable {
      border-radius: 0;
    }

    td {
      padding: 1px !important;

      .form-control {
        border-radius: 0 !important;
        border: 0 !important;
      }
    }
  }
}
